body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

h1, h2, h3, h4 {
  text-align: center;
  color: #336699;
}
p {
  margin: 1em;
  text-align: justify;
  color: #c9d1d9;
}
nav {
  background-color: #336699;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 1em;
}

nav a:hover {
  background-color: #ddd;
}
form {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

form label {
  font-size: 1.2em;
  color: #336699;
  display: block;
  margin: 1em 0;
}

form input[type="text"], form input[type="title"] {
  padding: 0.5em;
  font-size: 1.2em;
  width: 100%;
  border: 1px solid #336699;
  background-color: white;
  border-radius: 25px;
}

form textarea {
  padding: 0.5em;
  font-size: 1.2em;
  width: 100%;
  border: 1px solid #336699;
  background-color: white;
  resize: vertical;
  border-radius: 25px;
}

form input[type="submit"] {
  padding: 0.5em;
  font-size: 1.2em;
  background-color: #336699;
  color: white;
  border: none;
  margin-top: 1em;
  width: 100%;
}
