<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <link rel="stylesheet"  href="viewCSS.css"/>
</head>
<body>
	<nav>
	  <ul>
		<li><a href="/home">Home</a></li>	
		<li><a href="/about">About</a></li>
		<li><a href="/write">Write</a></li>
		<li><a href="/view">View</a></li>
		<li><a href="/contact">Contact</a></li>
	  </ul>
	</nav>
	<h1>View Stories
	<p>View other people's stories about their experience with bullying here.</p>
	<style>
li {
  display: inline-block;
  
}</style>
  <ul>
    <li><a href="story1/">Story 1</a></li><br><br>
    <li><a href="story2/">Story 2</a></li><br><br>
    <li><a href="story3/">Story 3</a></li><br><br>
    <li><a href="story4/">Story 4</a></li><br><br>
    <li><a href="story5/">Story 5</a></li><br><br>
  </ul>
  
</body>
</html>
