<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <link rel="stylesheet"  href="viewCSS.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav>
	  <ul>
		<li><a href="/home"><i class="fa fa-home"> </i> Home</a></li>	
		<li><a href="/about"><i class="fa fa-info-circle"> </i> About</a></li>
		<li><a href="/write"><i class="fa fa-file"> </i> Write</a></li>
		<li><a href="/view"><i class="fa fa-globe"> </i> View</a></li>
		<li><a href="/contact"><i class="fa fa-envelope-o"> </i> Contact</a></li>
	  </ul>
	</nav>
	<h1>View Stories
	<p>View other people's stories about their experience with bullying here.</p>	
  <ul>
    <a href="story1/index.html"><div><li><strong>I was a bully</strong></li></div></a><br><br>
    <a href="story1/indexstory2.html"><div><li><strong>My Story</strong></li></div></a><br><br>
    <a href="story3/"><div><li><strong>Story 3</strong></li></div></a><br><br>
    <a href="story4/"><div><li><strong>Story 4</strong></li></div></a><br><br>
    <a href="story5/"><div><li><strong>Story 5</strong></li></div></a><br><br>
  </ul>
  
</body>
</html>
